{% extends "buildApp/index.html" %}
{% block content %}
<div class="container">
    <blockquote class="blockquote text-center">
<h1 class="mt-2">О компании</h1>
    </blockquote>
    <p class="lead" >ООО Компания «Техника и Строительство» это многопрофильная компания, ведущая деятельность
        на рынке Ставропольского края и Юга России в сфере  оказания услуг спецтехники, аренды строительной
        техники с экипажем, продажа инертных материалов, оказание услуг строй техникой, продажа строительной техники,
        спецтехники и техники для склада.Наша цель-к успеху через сотрудничество<br>
        Компания «Техника и Строительство» осуществляет продажу и доставку инертных материалов на строительные объекты
        г. Ставрополя и края. Основным направлением деятельности компании является: доставка инертных материалов,
        таких как: песок речной, песок карьерный, щебень гранитный и известняковый различных фракций, цемент,
        а также грунт плодородный и другие строительные ресурсы. Компания также предоставляет строительную технику
        в аренду (самосвалы,автокраны, экскаваторы и другую технику)<br>
        Главным ориентиром для компании является положительная репутация среди потребителей наших услуг.
        Работа наших сотрудников и компании направлена на решение задач наших клиентов, в ходе
        исполнения которых мы проявляем гибкость и оперативность. Наша миссия-команда профессионалов для
        оказания услуг максимально качественно и точно,
        чтобы клиент с гордостью называл  компанию "ТИС" -Наша Компания!<br>
        Компания «Техника и Строительство» готова сотрудничать и решать задачи заказчиков в круглосуточном режиме.<br>
        Нашу компанию отличает: профессиональная команда, ориентация на клиента и качество предоставляемых услуг.
        Ваши задачи-наши Оптимальные Решения!<br>
        Информацию по ценам и условиям обслуживания вы можете получить посмотрев соответствующие разделы
        нашего сайта или связаться с нашими менеджерами по телефону: +7 (8652) 92-88-82, +7 (8652) –633-063
</p>
</div>
{% endblock %}