{% extends "buildApp/index.html" %}
{% block title %}О компании | Промтехсервис{% endblock %}
{% block content %}
<div class="container">
    <blockquote class="blockquote text-center">
<h1 class="mt-2 display-4">О компании</h1>
    </blockquote>
    <p class="lead" >Компания «Промтехсервис» - это многопрофильная компания, ведущая деятельность на рынке
        Ставропольского края и Юга России в сфере промышленного строительства, оказания услуг по аренде строительной
        техники с оператором, а также продаже инертных материалов. Осуществляли подрядные работы для
        ООО «Нефтегазкомплектмонтаж» (генподрядчик ООО «Стройгазмонтаж»), АО «Промстрой»
        (генподрядчик итальянская Saipem, Турецкий поток), ООО «Интерстрой» (заказчик ОАО «РЖД»), ГАП «Ресурс» и др.<br>
Основным направлением деятельности компании является:
- Комплексное проектирование объектов промышленности и их строительство;<br>
- Продажа и доставка инертных материалов на строительные объекты Ставропольского и Краснодарского края,
        таких как: песок речной, песок карьерный, щебень гранитный и известняковый различных фракций, цемент,
        а также грунт плодородный и другие строительные материалы;<br>
- Аренда строительной техники (самосвалы, автокраны, экскаваторы и другую строительную технику как сдает,
        так и нанимает для выполнения подрядных работ)<br>
Главным ориентиром для компании является положительная репутация среди потребителей наших услуг.
        Работа наших сотрудников и компании направлена на решение задач наших клиентов,
        в ходе исполнения которых мы проявляем гибкость и оперативность.
</p>
</div>
{% endblock %}