{% extends "buildApp/index.html" %}
{% block content %}
<blockquote class="blockquote text-center">
<div class="btn-group mt-2 " role="group" aria-label="Basic example">
  <a type="button" class="btn btn-secondary" href="#">Постройка домов</a>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
    <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
    <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
    <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>
</blockquote>
<div class="container">
<h1 class="text-center">Все услуги</h1>
          <div class="row">
          {% for c in categories %}
              <blockquote class="blockquote text-center">
              <h1>{{ c.CategoryName }}</h1>
              </blockquote>
              {% for b in c.category.all %}
        <div class="col-sm-4">
           <div class="card text-white bg-dark mb-3">
              <img class="card-img-top" src="#" alt="Card image cap" height="250">
              <div class="card-body">
                  <h5 class="card-title">{{ b.NameService }}</h5>
                <p class="card-text">{{ b.Description }}</p>
<!--                  <p class="card-text"><small class="text-muted">{{ s.Datetime }}</small></p>-->
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
</div>
        </div>
          {% endfor %}
    {% endfor %}
</div>
              </div>
{% endblock %}