{% extends "buildApp/index.html" %}
{% block title %}Контакты | Промтехсервис{% endblock %}
{% block content %}
<div class="container">
    <blockquote class="blockquote text-center">
        <p class="head display-4">Контакты</p>
    </blockquote>
<div class="row">
    <div class="col">
    <p class="font-weight-bold lead">Полное наименование:</p>
        <p class="lead">Общество с ограниченной ответственностью «Промтехсервис»</p><br>
    <p class="font-weight-bold lead">E-mail:</p>
        <p class="lead">promtechgroup@mail.ru</p><br>
    <p class="font-weight-bold lead">Телефон:</p>
        <p class="lead">+7 (8652)-92-88-82</p><br>
    <p class="font-weight-bold lead">Юр. Адрес:</p>
        <p class="lead">355008, г. Ставрополь, ул. Заводская, д.4, оф 5</p><br>
        <p class="font-weight-bold lead">Факт. Адрес:</p>
        <p class="lead">355008, г. Ставрополь, ул. Заводская, д.4, оф 5</p><br>
</div>

<div class="col">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2818.1978972750844!2d41.99712851575695!3d45.06149646824402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f9011894154c2d%3A0x34565b33d64fdfdb!2z0JfQsNCy0L7QtNGB0LrQsNGPINGD0LsuLCA0LCDQodGC0LDQstGA0L7Qv9C-0LvRjCwg0KHRgtCw0LLRgNC-0L_QvtC70YzRgdC60LjQuSDQutGA0LDQuSwgMzU1MDA4!5e0!3m2!1sru!2sru!4v1621879445046!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
    </div>
    </div>
{% endblock %}