{% extends "buildApp/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
      <h1 class="text-center display-4">{{service.NameService}}</h1>
    <div class="media mt-3">

    <img src="{{ service.IMG.url }}" class="align-self-start mr-3">
    <div class="media-body">

    <p class="lead">Описание: {{service.Description}}</p>
        <p class="lead">Характеристики: {{ service.Specification }}</p>
        <form action="{% url 'makeOrder' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn-block mb-3" values="Выбрать услугу">
        </form>
    </div>
    </div>

</div>
{% endblock %}